<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="sql.user.mapper">
	
	<resultMap type="userVO" id="selectRM">
		<result property="userId" column="user_id"/>
		<result property="password" column="password"/>
		<result property="userId" column="nickname"/>
		<result property="address" column="address"/>
	</resultMap>

	<sql id="select-user">
		SELECT user_id, password, nickname, address
	</sql>

	<!-- 회원가입 -->
	<insert id="addUser" parameterType="userVO">
		INSERT
		INTO user
		(user_id, password, nickname, address)
		VALUES
		(#{userId},#{password},#{nickname},#{address})
	</insert>
	
	<!-- 로그인 -->
	<select id="login" parameterType="hashMap" resultMap="selectRM">
		<include refid="select-user" />
		FROM user
		WHERE user_id = #{userId}
		<if test="password!=null">
			AND password LIKE #{password}
		</if>
	</select>
	
	<!-- 사용자 아이디 중복 검사 -->
	<select id="checkUserId" parameterType="string">
		<include refid="select-user" />
		FROM user
		WHERE user_id = #{value}
	</select>
	
	<!-- 사용자 검색 -->
	<select id="findByUserId" parameterType="string">
		<include refid="select-user" />
		FROM user
		WHERE user_id = #{value}
	</select>
	
	<!-- 사용자 정보 수정 -->
	<update id="updateUser" parameterType="userVO">
		UPDATE user
		SET 
		nickname = #{nickname}
		address = #{address}
		WHERE
		user_id = #{userId}
	</update>
	
	<!-- 사용자 삭제 -->
	<delete id="deleteUser" parameterType="string">
		DELETE
		FROM user
		WHERE user_id = #(userId)
	</delete>
</mapper>