<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="sql.board.mapper">
	
	<resultMap type="user" id="selectRM">
		<result property="boardId" column="board_id"/>
		<result property="title" column="title"/>
		<result property="content" column="content"/> 
		<result property="date" column="date"/> 
		<result property="viewCount" column="view_count"/>
		<result property="" column="picture"/>
	</resultMap>

	<sql id="select-board">
		SELECT b.board_id board_id, b.title title, b.content content, 
		b.date date, b.view_count view_count, u.user_id user_id, 
		a.area_id area_id, a.area_name area_name, 
		c.category_id category_id, c.category_name category_name 
	</sql>

	
</mapper>